{# TA Office Hours calendar partial #}
{# Expects: semesterInfo from global data #}
{# Note: This is a simplified version. The complex time slot logic has been
   converted to a simpler display format. #}

{% set ta_colors = {
    'jmangion': 'rgba(255, 204, 204, 0.5)',
    'ccerves':  'rgba(204, 255, 204, 0.5)',
    'tlohman':  'rgba(204, 204, 255, 0.5)',
    'ozino':    'rgba(255, 255, 204, 0.5)',
    'snoonan2': 'rgba(255, 204, 255, 0.5)',
    'fseptien': 'rgba(204, 255, 255, 0.5)'
} %}

<div class="row">
    <div class="col-md-12">
        <h4>Office Hours Schedule</h4>

        {# Class Times #}
        {% if semesterInfo.class_times %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <strong><i class="fa fa-calendar"></i> Class Times</strong>
            </div>
            <div class="panel-body">
                {% for day, time in semesterInfo.class_times %}
                    <span class="label label-primary">{{ day }}</span> {{ time }}{% if not loop.last %} | {% endif %}
                {% endfor %}
                {% if semesterInfo.class_location %}
                    - <em>{{ semesterInfo.class_location }}</em>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {# Instructor Office Hours #}
        {% set instructor = semesterInfo.Instructor %}
        {% if instructor and instructor.office_hours %}
        <div class="panel panel-default" style="background-color: rgba(204, 229, 255, 0.3);">
            <div class="panel-heading">
                <strong><i class="fa fa-user"></i> {{ instructor.name if instructor.name else 'Instructor' }}</strong> (Instructor)
            </div>
            <div class="panel-body">
                {% for day, oh_info in instructor.office_hours %}
                    {% if oh_info %}
                        <span class="label label-info">{{ day }}</span> {{ oh_info | parseTime }}
                        {% set location = oh_info | parseLocation %}
                        {% if location %}<em>({{ location }})</em>{% endif %}
                        {% if not loop.last %} | {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {# TA Office Hours #}
        {% for ta_id, ta_data in semesterInfo.TAs %}
            {% if ta_data.office_hours %}
            <div class="panel panel-default" style="background-color: {{ ta_colors[ta_id] if ta_colors[ta_id] else 'rgba(240,240,240,0.5)' }};">
                <div class="panel-heading">
                    <strong><i class="fa fa-user"></i> {{ ta_data.name if ta_data.name else 'TA' }}</strong> ({{ ta_data.level if ta_data.level else 'Teaching' }} TA)
                </div>
                <div class="panel-body">
                    {% for day, oh_info in ta_data.office_hours %}
                        {% if oh_info %}
                            <span class="label label-default">{{ day }}</span> {{ oh_info | parseTime }}
                            {% set location = oh_info | parseLocation %}
                            {% if location %}<em>({{ location }})</em>{% endif %}
                            {% if not loop.last %} | {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>
</div>
